<template>
    <div class="footer bg-black py-2 mt-5">
            <div class="text-center m-footer">
                <a href="https://depotwallet.com" target="_blank">
                    <img src="~/assets/img/footer/depotwallet.png" class=" img-fluid pt-3" onmouseover="this.src='~/assets/img/footer/depotwallet-c.png';"
                        onmouseout="this.src='img/footer/depotwallet.png';">
                </a>
                <a href="https://hybse.com" target="_blank" class="ml-5">
                    <img src="~/assets/img/footer/hybse.png" class="img-fluid pt-3" onmouseover="this.src='~/assets/img/footer/hybse-c.png';"
                        onmouseout="this.src='~/assets/img/footer/hybse.png';">
                </a>
                <a href="https://dim.foundation" target="_blank" class="ml-5">
                    <img src="~/assets/img/footer/dim-foundation.png" class="img-fluid pt-3" onmouseover="this.src='~/assets/img/footer/dim-foundation-c.png';"
                        onmouseout="this.src='~/assets/img/footer/dim-foundation.png';">
                </a>
                <a href="http://dimexplorer.io" target="_blank" class="ml-5">
                    <img src="~/assets/img/footer/dim-explorer.png" style="height: 40px" class="img-fluid pt-3" onmouseover="this.src='~/assets/img/footer/dim-explorer-c.png';"
                        onmouseout="this.src='~/assets/img/footer/dim-explorer.png';">
                </a>
                <a href="https://dimcoin.io" target="_blank" class="ml-5">
                    <img src="~/assets/img/footer/dimcoin.png" class="img-fluid pt-3" onmouseover="this.src='~/assets/img/footer/dimcoin-c.png';"
                        onmouseout="this.src='~/assets/img/footer/dimcoin.png';">
                </a>
                <a href="https://ibin.io" target="_blank" class="ml-5">
                    <img src="~/assets/img/footer/ibin.png" class="img-fluid pt-3" onmouseover="this.src='~/assets/img/footer/ibin-c.png';"
                        onmouseout="this.src='~/assets/img/footer/ibin.png';">
                </a>
                

                <a href="#" target="_blank" class="ml-5">
                    <img src="~/assets/img/footer/cryptomarket.png" class="img-fluid pt-1"  @mouseover="changeImage($event, '/_nuxt/assets/img/footer/cryptomarket-c.png')"
                        @mouseout="changeImage($event, '/_nuxt/assets/img/footer/cryptomarket.png')">
                </a>
            </div>
            <div class="row text-center mt-3">
                <div class="col-md-12">
                    <p class="text-secondary mt-2">Copyright &copy;2018 All rights reserved.</p>
                </div>
            </div>
            
        </div>
</template>

<script>
export default {

    methods: {

        changeImage(event, url) {

            event.target.src = url
        }
    }
}
</script>

<style>

</style>
