<template>
    <nav class="navbar navbar-expand-lg py-4 px-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars fa-2x"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                    <a class="navbar-brand logo" href="#"></a>
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item">
                            <nuxt-link class="btn btn-rounded" :to="{ name: 'about'}">ABOUT</nuxt-link>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-rounded" href="#">MERCHANT</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-rounded" href="#">USER</a>
                        </li>
                        <li class="nav-item">
                            <nuxt-link :to="{name: 'register'}" class="btn btn-rounded bg-white text-magenta" href="#">SIGN UP</nuxt-link>
                        </li>
                        <li class="nav-item">
                            <nuxt-link :to="{name: 'login'}" class="btn btn-rounded bg-magenta text-white" href="#">SIGN In</nuxt-link>
                        </li>
                    </ul>
                    </div>
                </nav>
</template>

<script>
export default {};
</script>

<style>
</style>
