.text-magenta {
    color: #c60078 !important;
}

.bg-magenta {
    background-color: #c60078 !important;
}

.bg-light-blue {
    background-color: #7cc8d5;
}

.bg-cream-white {
    background-color: #f1f1f1 !important;
}

.bg-black {
    background-color: #000;
}

.logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat; 
    width: 192px;
    height: 43px;
}

.navbar {
    margin-bottom: 5rem;
}

.navbar, .btn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar .btn {
    padding: 10px 30px;
}

.navbar .btn:hover {
    color: #fff;
    background-color: #c60078;
}

.main-container {
    background-image: url('../img/bg/main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    overflow-x: hidden;
    min-height: 600px;
}

/* HOME PAGE*/
.home {
    background-image: 
    linear-gradient(to right, #111 , rgba(181,0,110, .2)),
            url('../img/bg/scan-to-pay.png'), 
            url('../img/bg/main.png');
    background-repeat: no-repeat;
    background-size: cover, 40rem, cover;
    background-attachment: fixed;
    background-position-x: center, 70rem, center;
    background-position-y: center, 10rem,center;
    margin: 0;
    overflow-x: hidden;
}

.about-panel {
    border-radius: 0 8rem 8rem 0;
    background-color: #fff;
    color: #000;
    padding: 2rem 2rem 2rem 0;
    position: relative;
    z-index: 99999 !important;
}

.about-panel::before {
    content: '';
    position: absolute;
    width: 90rem;
    height: 100%;
    background-color:#fff;
    top:0;
    z-index: -2 !important;
    left: -80rem;
}

.dim-currencies {
    text-align: right;
    border-radius: 8rem 0 0 8rem;
    padding: 4rem 0 3rem 6rem;
    position: relative;
}

.dim-currencies::after {
    content: '';
    position: absolute;
    width: 90rem;
    height: 100%;
    top:0;
    left: 0;
    z-index: -2 !important;
    border-radius: 8rem 0 0 8rem;
    box-sizing: border-box;
    box-shadow:  0 0 10px 5px rgba(0,0,0, .19)
}

.subscribe-form {
    padding-left: 9rem;    
}

/*FOOTER*/
.footer {
    position: absolute;
right: 0;
bottom: 0;
left: 0;
background-color: #000;
padding: 1rem;
margin-top: 80px;
margin-bottom: 0;
}
/*Form and input styles*/

.form-float {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25rem);
}
.form-container {
    max-width:1100px;
    width: 100%;
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    min-height: 500px;
}

.form-container > form > .form-group > input[type="text"],
.form-container > form > .form-group > input[type="email"],
.form-container > form > .form-group > input[type="password"],
 .form-row input[type="text"] {
    background: #f1f1f1;
    outline: none;
    border:none;
    border-radius: 0;
    min-height: 50px;
}

.form-container > .form-heading, .heading {
    font-weight: 900;
    margin-bottom: 2rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 400
}

.form-container > form {

    display: flex !important;
    flex-direction: column;
    width: 100%;
    align-items: center;
} 

.form-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container > form >.form-group, .form-row {
    max-width: 400px;
    width: 100%;
}

.form-container > form >.form-group label, .form-row label {
    font-weight: 600;
    max-width: 400px;
    width: 100%;
    display: block !important;
}

.form-container > .form-heading,  .form-container > form >.form-group label{
    font-weight: 900;
    color: #444 !important;
}

.form-links {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-links a {
    color: #444;
    font-weight: 400;
}

.form-links a.bold {
    font-weight: 600;
}

/* Media queries */
@media(max-width: 988px) {
    .subscribe-form {
        padding-left: 15px;

    }
}

@media(max-width: 990px) {
    .navbar {
        text-align: center;
    }
}