<template>
  <div class="wrapper">
    <div class="main-container">
            <div class="container">
                <app-header />
            </div>
        </div>
    <div class="container flex-fill">
      <nuxt />
    </div>
    <app-footer />
  </div>
</template>

<script>
import AppHeader from "@/layouts/common/AppHeader";
import AppFooter from "@/layouts/common/AppFooter";

export default {
  components: {
    AppHeader,
    AppFooter
  }
};
</script>

<style>

html {
  position: relative;
  min-height: 100%;
}
.wrapper,
body {
  height: 100vh;
}
.pt-120 {
  padding-top: 120px;
}

.flex-fill {
  flex: 1 1 auto;
}
</style>
