<template>
  <div>
      <div class="home">
      <div class="container">
          <app-header />
          <div class="row">
                    <div class="col-12">
                        <h1 class="text-white font-weight-bold">DIMPAY PAYMENT</h1>
                        <h1 class="text-white font-weight-bold">SERVICES</h1>
                    </div>
                </div>
      </div>

      <div class="container my-5">
                <div class="about-panel" style="width: 60%">
                    <h3 class="mt-4 font-weight-bold">ABOUT DIMPAY</h3>
                    <h6>
                        DIMPAY is a fast, inexpensive and fully secure global payment system. Make payments byt scanning a wuick response (QR) code from a mobile device.
                        DIMPAY facillitate cashless transactions between consumers and merchants.
                    </h6>
                    <a href="#" class="btn bg-light-blue text-white btn-rounded ml-0 mt-3">READ MORE</a>
                </div>
            </div>
  </div>
  <nuxt />
  </div>
</template>

<script>
import AppHeader from '@/layouts/common/AppHeader'
export default {

    components: {
        AppHeader
    }
}
</script>

<style>
</style>
