<template>
    <div class="row  m-0">
                <div class="col-md-12">

                    <div class="form-container form-float">

                        <h2 class="heading text-center mb-4">ABOUT DIMPAY</h2>

                        <p>
                            DIMPAY is a global payment system that is fast, cost-effective and fully secure. DIMPAY aims to provide an alternative payment system to the traditional peer-to-peer (P2P), business-to-business (B2B), business-to-consumer (B2C) and consumer-to-business (C2B) payment systems by
offering low fees, transparency, instantaneous and a decentralized platform. 
                        </p>

                        <p>
                            The use of DIMPAY will eliminate payment errors and inefficiencies that occur in traditional payment systems. 
                        </p>

                        <h5>Steps for using DIMPAY</h5>

                        <ul>
                            <li>Download the android app into a compatible device</li>
                            <li>Create an account or import a wallet file or scan a QR code (wallet)</li>
                            <li>You are now able to Log into DIMPAY</li>
                            <li>Create an invoice</li>
                            <li>Select a mosaic (DIM Currencies) that you want to receive</li>
                            <li>Enter the amount due</li>
                            <li>Generate payment</li>
                            <li>Now the customer is able to scan the QR code and transfer the amount due.</li>
                        </ul>
                       
                       <h5>How does it work</h5>
                       <ul>
                           <li>By scanning a Quick Response (QR) code from your mobile devices instead of using cashiers.</li>
                           <li>The QR code will be the interface for P2P, B2B and B2C experience using DIMPAY.</li>
                           <li>The use of the QR code will eliminate the need for numerous participants in the
                            payment process thus saving time and costs.</li>
                       </ul>
                    
                        <h5>The functions of DIMPAY will include some of the following features:</h5>
                        <ul>
                            <li>Facilitate point of sale payments</li>
                            <li>View and manage the funds</li>
                            <li>Make everyday transactions like sending remittances</li>
                            <li>Standing orders of recurring payments such as rent, insurance etc*</li>
                            <li>Direct debit procedures (creditors deduct the amount directly from the DEPOTWALLET account)*</li>
                            <li>Check balance of the funds in the account</li>
                            <li>Create an invoice</li>
                            <li>Receive invoice status updates</li>
                            <li>Salary payments*</li>
                            <li>Expense payments*</li>
                        </ul>

                        <p>* Pipeline features will be added in the future.</p>
                       
                    </div>
                </div>
            </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
