<template>
  <div>
     <div class="container">
            <div class="row">
                <div class="col-md-6 pt-5">
                    <h3 class="font-weight-bold">PRECIOUS METAL BACKED</h3>
                    <h3 class="font-weight-bold">CURRENCY</h3>
                    <p>
                        DIM CURRENCIES are coverted by 80% precious metals as well as 20% Crypto Currencies making it a trusted medium of exchange
                    </p>
                    <a href="#" class="btn bg-light-blue text-white btn-rounded ml-0 mt-3 mb-4">READ MORE</a>
                </div>
                <div class="col-md-6 dim-currencies">
                    <div class="d-flex justify-content-between">
                        <img src="~/assets/img/icons/DIM-BTC.png" width="67">
                        <img src="~/assets/img/icons/DIM-XEM.png" width="67">
                        <img src="~/assets/img/icons/DIM-TOKEN.png" width="67">
                    </div>
                    <div class="d-flex justify-content-between">
                        <img src="~/assets/img/icons/DIM-EURO.png" width="67">
                        <img src="~/assets/img/icons/DIM-DOLLAR.png" width="67">
                        <img src="~/assets/img/icons/DIM-ZAR.png" width="67">
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="font-weight-bold">GETTING STARTED</h3>
                    <a href="#" class="btn bg-magenta text-white btn-rounded px-5">START MAKING PAYMENTS</a>
                    <a href="#" class="btn bg-light-blue text-white btn-rounded px-5">BECOME A MERCHANT</a>
                </div>
                <div class="col-md-6 subscribe-form">
                    <div class="input-group input-group-lg pt-3">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn bg-light-blue m-0">SUBSCRIBE</button>
                        </div>
                    </div>
                    <p class="pt-2">Enter your email address to get our news letter.</p>
                </div>
            </div>
        </div>       
  </div>
</template>

<script>
import AppHeader from '@/layouts/common/AppHeader'
export default {

  layout: 'home'
}
</script>

<style>
</style>
