<template>
    <div class="row justify-content-center">
                <div class="col-md-8">

                    <div class="form-container form-float">

                        <h2 class="form-heading text-center">LOGIN</h2>
                        <form action="">
                            <div class="form-group">
                                <label for="">FIRST NAME</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="">LAST NAME</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group mt-2">
                                <button class="btn bg-light-blue btn-block btn-rounded">LOGIN</button>
                            </div>

                            <div class="form-group">
                                <ul class="form-links">
                                    <li><a href="#">Forgot Password?</a></li>
                                    <li><a href="#" class="bold">Sign Up</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
