<template>
    <div class="row justify-content-center">
                <div class="col-md-8">

                    <div class="form-container form-float">

                        <h2 class="form-heading text-center">CREATE ACCOUNT</h2>
                        <form action="">
                            
                            <div class="form-group">
                                    <label for="">COMPANY</label>
                                    <input type="text" class="form-control">
                                </div>

                            <div class="form-group">
                                    <label for="">EMAIL</label>
                                    <input type="text" class="form-control">
                                </div>

                            <div class="form-group">
                                    <label for="">PASSWORD</label>
                                    <input type="password" class="form-control">
                                </div>

                            <div class="form-group">
                                    <label for="">CONFIRM PASSWORD</label>
                                    <input type="text" class="form-control">
                                </div>


                            <div class="form-group mt-2">
                                <button class="btn bg-light-blue btn-block btn-rounded">GET STARTED</button>
                            </div>

                            <div class="form-group">
                                <ul class="form-links">
                                    <li><a href="#">Already have an account?</a></li>
                                    <li><a href="#" class="bold">Sign In</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
